.orden {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.especie {
	grid-row-start: 1;
	grid-column-start: 1;
	
	grid-row-end: 2;
	grid-column-end: 1;
}
.especie_detalle {
	grid-row-start: 2;
	grid-column-start: 1;
	
	grid-row-end: 3;
	grid-column-end: 1;
}

.tabla {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.tabla > div {
  margin: 2px;
  background: powderblue;
  padding: 5px;
}
.titulo {
	font-weight: bold;
}

.cantidad {
	grid-row-start: 3;
	grid-column-start: 1;
	
	grid-row-end: 4;
	grid-column-end: 1;
}

.plazo {
	grid-row-start: 4;
	grid-column-start: 1;
	
	grid-row-end: 5;
	grid-column-end: 1;
}

.operacion {
	grid-row-start: 5;
	grid-column-start: 1;
	
	grid-row-end: 6;
	grid-column-end: 1;
}